* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'EliceDigitalBaeum-Bd';
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.head {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  align-items: center;
  background-color: #ffffff;
}

.head_logo {
  margin-left: 8%;
}

.search_box {
  width: 70%;
  margin-left: 15%;
}

.searchform {
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.searchform input#search {
  width: 70%;
  height: 50px;
  background: #f0eeee;
  border: none;
  font-size: 12pt;
  font-weight: 700;
  float: left;
  color: #485170;
  padding-left: 45px;
  border-radius: 48px;

  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}

.searchform input#search::-webkit-input-placeholder {
  color: #93a2ad;
}

.searchform input#search:-moz-placeholder { 
  color: #93a2ad;
}

.searchform input#search::-moz-placeholder {
  color: #93a2ad;
}

.searchform input#search:-ms-input-placeholder {
  color: #93a2ad;
 }

.searchform input#search:hover, .searchform input#search:focus, .searchform input#search:active {
  outline: none;
  background: #ffffff;
}

/* 크롬 자동완성 값 삭제 */
input:-webkit-autofill{-webkit-box-shadow: 0 0 0 30px #fff inset; -webkit-text-fill-color: #000;}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active{transition:background-color 5000s ease-in-out 0s;}

.searchform .icon {
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 14px;
  z-index: 1;
  color: #93a2ad;
}

.searchform:hover .icon {
  margin-top: 14px;
  color: #485170;
}

.head_icons {
  display: flex;
  text-decoration: none;
  list-style: none;
  margin-right: 13%;
} 

.head_icons li {
  padding: 15% 15% 6% 15%;
}

.head_icons li a {
  text-align: center;
  font-size: 14px;
  color: #485170;
}

.head_icons a:hover {
  color: #97cadb;
}


/******* Navbar Section *******/
#navbaronder {
  background-color: #97cadb;
  transition: 0.4s;
  position: absolute;
  width: 100%;
  top: 14%;
  z-index: 500;
  outline: 0;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

img::selection {
  background: transparent;
}

.underline a {
  position: relative;
  text-decoration: white;
}

.underline a:hover {
  color: white;
}

.underline button:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.underline button:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.topnav {
  background-color: #dddddd;
}

#center1 {
  float: left;
  position: relative;
  left: 50%;
}

#center2 {
  float: left;
  position: relative;
  left: -50%;
}

.topnav a {
  float: left;
  display: block;
  padding: 8px 130px;
  color: #333;
  font-size: 20px;
  letter-spacing: 0.1em;
  text-align: center;
  text-decoration: none;
  font-family: 'EliceDigitalBaeum-Bd';
}

.topnav .icon {
  display: none;
  color: #26548A;
}

.dropdown {
  float: left;
  position: relative;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  padding: 6px 20px;
  background-color: inherit;

}

.dropdown_content {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f9f9f9;
  min-width: 60%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown_content a {
  float: none;
  color: #333;
  padding: 8px;
  font-size: 18px;
  text-align: center;
  background-color: #f1f1f1;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
  background-color: transparent;
  color: #2651AB;
}

.dropdown_content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover 
.dropdown_content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), 
  .dropdown
  .dropbtn
  {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .topnav .responsive {position: relative;}
  .topnav .responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav .responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav .responsive .dropdown {float: none;}
  .topnav .responsive .dropdown_content {position: relative;}
  .topnav .responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}


/******* Content Section *******/
.content {
  position: relative;
  font-family: 'LeferiPoint-BlackA';
}

.reservation {
  position: relative;
  width: 80%;
  height: 100%;
  left: 5%;
  margin: 5%;
}

.right_cont {
  float: right;
}

.step_wrap {
  text-align: center;
}

.step_wrap .step {
  display: inline-block;
}

.step_wrap .step li {
  position: relative;
  float: left;
  font-size: 15px;
  font-weight: 600;
}

.step_wrap .step li.on {
  color: #5e2bb8;
}

.step_wrap .step li.on .fa.line::before {
  background-position: -27px -365px;
}

.reservation h1 {
  position: relative;
  margin-top: 10%;
  padding: 20px;
  font-size: 20px;
  color: gray;
  border-bottom: 3px solid #7c7b7b;
}

.text_wrap1 {
  position: absolute;
  width: 70%;
  top: 5%;
  margin: 45px;
}

.icon {
  position: relative;
  display: inline-block;
  width: 350px;
}

.route_detail {
  display: inline-block;
}

.flight_list {
  width: 95%;
}

.flight_list ul {
  margin-top: 20px;
  margin-bottom: 50px;
  box-sizing: border-box;
  border: 1px solid #111;
  list-style: none;
}

.row {
  display: table;
  height: 150px;
}

.cell_air {
  display: table-cell;
  width: 5%;
  padding-left: 2%;
  vertical-align: middle;
}

.air_name {
  position: relative;
  margin-bottom: 3px;
  padding-left: 30%;
  font-size: 17px;
  color: #111;
  line-height: 1;
}

p.txt {
  position: relative;
  line-height: 23px;
  color: #666;
  font-size: 15px;
  padding-left: 30%;
}

.cell_type {
  display: table-cell;
  width: 7%;
  padding-left: 10%;
  vertical-align: middle;
}

.item_course {
  text-align: center;
  display: table;
  width: 387px;
}

.time {
  display: table-cell;
  width: 15%;
  font-size: 15px;
  font-weight: 600;
  color: #111;
  vertical-align: middle;
}

.date {
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 400;
  color: #333;
}

.city {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #479de7;
}

em {
  color: #5e2bb8;
  font-weight: 600;
  font-style: normal;
}

.move_arrow {
  position: absolute;
  width: 12%;
  height: 54px;
  color: #888;
  line-height: 1;
  text-indent: 0;
}

.direct {
  position: relative;
  left: 50%;
  width: 100%;
  margin-left: -65px;
  font-size: 13px;
  font-weight: 600;
  color: #01318a;
}

.load {
  font-size: 13px;
  font-weight: 500;
  font-family: "yg750";
}

.cell_seat {
  display: table-cell;
  width: 4%;
  vertical-align: middle;
  text-align: center;
  font-size: 15px;
  color: #111;
}

p { 
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.cell_luggage {
  display: table-cell;
  width: 5%;
  padding: 0 30px 0 0;
  text-align: center;
  font-size: 15px;
  vertical-align: middle;
}

.reservation_right {
  position: relative;
  width: 400px;
  margin-top: 5%;
  margin-left: 72%;
  -webkit-transition: bottom .3s ease-out;
  -moz-transition: bottom .3s ease-out;
  transition: bottom .3s ease-out;
}

.total {
  overflow: hidden;
  overflow-y: auto;
  margin-top: 25px;
  border-top: none;
}

.pay_area {
  border-top: 1px solid #ddd;
  padding: 15px 20px 20px;
  background: #f7f7f7;
  border-bottom: 1px solid #ddd;
}

.info_area1 {
  position: relative;
  min-height: 14px;
  margin-top: 0;
  padding-bottom: 10px;
  font-size: 13px;
  text-align: right;
  color: #111;
}

.info .tit { 
  position: relative;
  left: 0;
  text-align: left;
}

.pay_area.tit {
  position: absolute;
  margin-top: 40px;
  margin-bottom: -8px;
  padding: 0;
  font-size: 17px;
  font-weight: 200;
  color: #111;
}

.price {
  display: block;
  margin-top: 15px;
  font-size: 26px;
  color: #5216b3;
  text-align: right;
}

.price span {
  font-size: 15px;
  font-weight: 400;
}

.tax {
  margin-top: 10px;
  font-size: 13px;
  text-align: right;
}

.info_area1 .tit {
  position: absolute;
}

.info_area2 {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px dashed rgb(150, 145, 145);
}

.info_area2 .tit { 
  text-align: left;
}

.info span {
  float: right;
  font-size: 14px;
}

.inr {
  padding: 24px 20px;
  float: none;
  font-size: 14px;
  border-bottom: 1px solid #eaeaea;
}

#toggle {
  float: right;
  cursor: pointer;
}

#toggle_content {
  position: absolute;
  display: none;
  width: 90%;
  padding: 15px 20px;
  border-top: 1px solid #ddd;
  background-color: #f7f7f7;
}

.info_area3 .tit.type {
  position: relative;
  display: block;
  left: 0;
  padding-left: 5px;
  padding-bottom: 10px;
  font-family: "yg750";
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: #333;
}

.list_detail {
  padding-left: 5px;
  margin-top: 5px;
} 

.info_area3 .tit {
  font-weight: 600;
}

.info_area3 li {
  font-size: 14px;
  font-weight: 600;
  color: #666;
  font-family: "yg750";
}

.info_area3 li:before {
  content: '·';
  font-size: 20px;
  vertical-align: top;
  line-height: 20px;
}

.info_area3 span {
  display: inline-block;
  font-size: 13px;
}

.reservation h2 {
  position: relative;
  margin-top: 15%;
  padding: 20px;
  font-size: 20px;
  color: gray;
  border-bottom: 3px solid #7c7b7b;
}

.text_wrap {
  margin-top: 5%;
  margin-left: 100px;
  margin-bottom: 24px;
}

.type2 {
  display: table;
  width: 85%;
  margin-left: 100px;
  border-bottom: 1px solid #ddd;
  border-collapse: separate;
  table-layout: fixed;
  font-size: 15px;
  border-spacing: 0;
}

colgroup {
  display: table-column-group;
}

tbody {
  position: relative;
  display: table-row-group;
  vertical-align: middle;
}

.type2 th {
  border-top: 1px solid #ddd;
  font-size: 15px;
  font-weight: 600;
  color: #333;
  font-family: "yg750";
  letter-spacing: -.4px;
  background-color: #f7f7f7;
}

.type2 td {
  padding: 15px 20px;
  color: #333;
  border-top: 0.5px solid #ddd;
  font-family: "yg750";
}

input[type=text] {
  width: 90%;
  height: 42px;
  padding: 0 15px;
  border: 1px solid #cdcdcd;
  background-color: #fff;
  border-radius: 2px;
}

#occupant1 {
  margin-top: -20px;
  margin-bottom: 15px;
  color: #485170;
}

.form_holder {
  margin-left: 80%;
  font-size: 15px;
  font-weight: 600;
}

.list_notice {
  margin-top: 25px !important;
  margin-left: 100px;
  padding: 0;
}

.list_notice li {
  padding-left: 15px;
  font-size: 14px;
  color: #888;
  line-height: 25px;
  text-align: left;
  list-style: none;
}

.notice h1{
  margin-top: 10%;
  margin-bottom: 50px;
  padding: 20px;
  font-size: 20px;
  color: gray;
  border-bottom: 3px solid #7c7b7b;
}

.box_group { 
  width: 80%;
  padding-top: 10px;
  font-size: 17px;
  line-height: 25px;
}

.list_notice {
  color: #666!important;
  list-style: none;
}

.list_notice li:before {
  position: absolute;
  display: inline-block;
  width: auto;
  height: auto;
  margin-right: 3px;
  padding-left: 10px;
  font-size: 15px;
  background-color: transparent;
}

.btn {
  justify-content: space-between;
  width: 600px;
  height: 80px;
  margin-top: 40px;
  margin-left: 55%;
  font-size: 15px;
  font-weight: 400;
  color: #333;
  text-align: center;
}

input.input_radio {
  display: inline-block;
}

.reservationBtn {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 60px;
  margin-top: 7%;
  margin-left: 50px;
  font-size: 16px;
  font-weight: 800;
  font-family: "yg750";
  color: #fff;
  border-radius: 5px;
  border: 1px solid #1351a5;
  background-color: #1351a5;
}

.reservationBtn:hover {
  border: 1px solid #4169e1;
  background: #4169e1;
  color: #fff;
  transition: all 0.5s;
}


/******* Foot Section *******/
.foot {
  background-color:#485170;
  margin-top: -5px;
  padding-top: 20px;
}

.footWrap {
  margin-top: 80px;
  padding-bottom: 50px;
  font-family: 'LeferiPoint-BlackA';
}

.footer_row {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin-left: 23%;
}

.footer_col {
  width: 20%;
  margin: 3%;
  margin-bottom: 60px;
  text-align: center;
}

.footer_icon {
  width: 68px;
  height: 68px;
  margin-left: 38%;
}

.footer_icon img {
  max-width: 100%;
}

.footer_title {
  margin-top: 14px;
  font-size: 20px;
  font-weight: 800;
  color: #fff;
  font-family: "yg750";
}

.footer_list {
  margin-top: 19px;
  margin-bottom: 7px;
}

.footer_list ul li {
  font-size: 16px;
  color: #fff;
  line-height: 1.71;
}

.text_policy {
  width: 50%;
  margin-left: 15%;
  margin-bottom: 1%;
  font-size: 14px;
  text-align: center;
}

.text_copyright {
  width: 50%;
  margin-left: 15%;
  margin-bottom: 1%;
  font-size: 14px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .head, .navbar, .content, .foot {
    flex-direction: column;
  }
}

@font-face {
  font-family: 'EliceDigitalBaeum-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum-Bd.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LeferiPoint-BlackA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}