body {
    margin: 0;
}

a {
    text-decoration: none;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 20px 20px;
}

.head__icons {
    text-decoration: none;
    list-style: none;
    display: flex;
} 

.head__icons li {
    padding: 8px 12px;
}

.head__icons li a {
    text-align: center;
    font-size: 10px;
    color: #485170;
}

.searchform {
  width: 700px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.searchform input#search {
  width: 700px;
  height: 50px;
  background: #dcdcdc;
  border: none;
  font-size: 12pt;
  font-weight: 700;
  float: left;
  color: #485170;
  padding-left: 45px;
  border-radius: 48px;

  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}

.searchform input#search::-webkit-input-placeholder {
  color: #93a2ad;
}

.searchform input#search:-moz-placeholder { 
  color: #93a2ad;
}

.searchform input#search::-moz-placeholder {
  color: #93a2ad;
}

.searchform input#search:-ms-input-placeholder {
  color: #93a2ad;
 }

.searchform input#search:hover, .searchform input#search:focus, .searchform input#search:active {
  outline: none;
  background: #ffffff;
}

/* 크롬 자동완성 값 삭제 */
input:-webkit-autofill{-webkit-box-shadow: 0 0 0 30px #fff inset; -webkit-text-fill-color: #000;}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active{transition:background-color 5000s ease-in-out 0s;}

.searchform .icon {
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 14px;
  z-index: 1;
  color: #93a2ad;
}

.searchform:hover .icon {
  margin-top: 14px;
  color: #485170;
}

.navbar ul{
  letter-spacing: 0.8px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #485170;
  display: flex;
  justify-content: space-around;
}

.navbar__menu li {
  display: inline;
  color: white;
}

.navbar__menu a {
  display: inline-block;
}

.navbar__menu li a {
  color: white;
  padding: 15px;
  padding-left: 206px;
  padding-right: 206px;
  font-size: 16px;
  font-weight: 600;
  font-family: "yg750";
  white-space: nowrap;
}

.navbar__menu li a:hover {
  background-color: lightgray;
  color: #000;
  text-align: center;
} 

.navbar__menu li ul {
  display: none;
  height: auto;
  padding: 0px;
  margin: 0px;
  position: absolute;
  width: 480px;
  z-index: 200;
  text-align: center;    
}

.navbar__menu li ul a{
  display: block;
  height: 30px;
  font-size: 16px;
  font-style: normal; 
  font-weight: 600;
  font-family: "yg750";
  padding: 15px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.navbar__menu li:hover ul {
    display: block;
}

.content {
  background-color: #ffffff;
  padding: 50px 100px;
  margin: auto;
  padding-bottom: 20px;
}

.right__cont {
  float: right;
}

.step__wrap {
  text-align: center;
}

.step__wrap .step {
  display: inline-block;
}

ol, ul, li {
  list-style: none;
  vertical-align: middle;
}

.step__wrap .step li {
  position: relative;
  float: left;
  font-size: 15px;
  text-align: center;
}

.step__wrap .step li.on {
  color: #5e2bb8;
}

.step__wrap .step li.on .fa.line::before {
  background-position: -27px -365px;
}

.reservation h1 {
    font-size: 20px;
    color: gray;
    border-bottom: 3px solid #7c7b7b;
    padding: 20px;
}

.tripinfo h1 {
    font-size: 20px;
    color: gray;
    border-bottom: 3px solid #7c7b7b;
    padding: 20px;
    margin-bottom: 20px;
}

.notice h1{
    font-size: 20px;
    color: gray;
    border-bottom: 3px solid #7c7b7b;
    padding: 20px;
    margin-top: 70px;
    margin-bottom: 50px;
}

.text__wrap1 {
  position: relative;
  margin: 45px;
  margin-bottom: 30px;
  margin-left: 150px;
  padding: 0;
  width: 90%;
}

.text__wrap strong .tit {
  display: inline-block;
  font-size: 22px;
  color: #111;
  line-height: 1;
  font-weight: 400;
  position: absolute;
  top: 0;
  right: 0;
}

.icon {
  position: relative;
  display: inline-block;
  width: 350px;
}

.route__detail {
  display: inline-block;
}

.flight__list ul {
  width: 60%;
  margin-top: 20px;
  margin-bottom: 50px;
  box-sizing: border-box;
  border: 1px solid #111;
  list-style: none;
}

.row {
  height: 150px;
  display: table;
}

.cell__air {
  width: 170px;
  display: table-cell;
  vertical-align: middle;
}

.air__name {
  font-size: 17px;
  color: #111;
  margin-bottom: 3px;
  position: relative;
  padding-left: 27px;
  line-height: 1;
}

p.txt {
  position: relative;
  line-height: 23px;
  color: #666;
  font-size: 14px;
  padding-left: 27px;
}

.cell__type {
  width: 438px;
  display: table-cell;
  vertical-align: middle;
}

.item__course {
  text-align: center;
  display: table;
  width: 387px;
}

.time {
  width: 130px;
  font-size: 15px;
  color: #111;
  font-weight: 600;
  display: table-cell;
  vertical-align: middle;
}

.date {
  display: block;
  font-size: 15px;
  color: #333;
  font-weight: 400;
  margin-bottom: 10px;
}

.city {
  display: block;
  font-size: 13px;
  color: #479de7;
  margin-top: 10px;
  font-weight: 600;
}

.mave__arrow {
  position: absolute;
  left: 50%;
  width: 120px;
  margin-left: -60px;
  font-size: 13xp;
  color: #888;
  line-height: 1;
  height: 54px;
  text-indent: 0;
}

.direct {
  position: relative;
  left: 50%;
  width: 100%;
  margin-left: -65px;
  font-size: 13px;
  font-weight: 600;
  color: #01318a;
}

.load {
  font-size: 13px;
  font-weight: 500;
  font-family: "yg750";
}

.cell__seat {
  display: table-cell;
  vertical-align: middle;
  width: 140px;
  text-align: center;
  font-size: 15px;
  color: #111;
}

p { 
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.cell__luggage {
  display: table-cell;
  vertical-align: middle;
  width: 120px;
  text-align: center;
  font-size: 15px;
  padding: 0 30px 0 0;
}

.reservation__right {
  position: absolute;
  right: 13%;
  width: 400px;
  top: 39%;
  -webkit-transition: bottom .3s ease-out;
  -moz-transition: bottom .3s ease-out;
  transition: bottom .3s ease-out;
  float: right;
}

.pay__area.tit {
  position: relative;
  margin-bottom: -8px;
  margin-top: 40px;
  margin: 40px 0 0;
  padding: 0;
  font-size: 17px;
  color: #111;
  font-weight: 200;
}

.info__area1 .tit { 
  position: absolute;
  left: 0;
  text-align: left;
}

.total {
  overflow: hidden;
  overflow-y: auto;
  margin-top: 25px;
  border-top: none;
}

.pay__area {
   border-top: 1px solid #ddd;
   padding: 15px 20px 20px;
   background: #f7f7f7;
   border-bottom: 1px solid #ddd;
 }

.info {
  position: relative;
  min-height: 14px;
  margin-top: 0;
  padding-bottom: 10px;
  font-size: 13px;
}

.price {
  display: block;
  margin-top: 15px;
  font-size: 26px;
  color: #5216b3;
  text-align: right;
}

.price span {
  font-size: 15px;
  font-weight: 400;
}

.tax {
  margin-top: 10px;
  text-align: right;
  font-size: 13px;
}

.info__area2 {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px dashed rgb(150, 145, 145);
}

.info {
  position: relative;
  margin-top: 0;
  text-align: right;
  color: #111;
}

.info__area2 .tit { 
  position: absolute;
  left: 0;
  text-align: left;
}

.info__area2 span {
  font-size: 14px;
}

.box__group { 
  width: 80%;
  margin-left: 8%;
  padding: 24px;
  border-width: 3px;
  border: 1px solid #333;
  line-height: 25px;
}

.box__group .list__notice {
  margin: -4px;
  color: #666!important;
  list-style: none;
  margin: 0;
  padding: 0;
}

.list__notice li:before {
  position: absolute;
  padding-left: 10px;
  font-size: 15px;
  width: auto;
  height: auto;
  margin-right: 3px;
  display: inline-block;
  background-color: transparent;
}

.btn {
  width: 600px;
  height: 80px;
  margin-top: 40px;
  margin-left: 60%;
  justify-content: space-between;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
}

.input.btn1 {
  display: inline-block;
}

input.btn2 {
  background-color: #fff;
  border: 3px solid #4169e1;
  color: black;
  font-size: 16px;
  font-weight: 600;
  margin-left: 50px;
  margin-bottom: 20px;
  padding: 20px 100px;
}
  
input.btn2:hover {
  background: #4169e1;
  color:#fff;
  transition: all 0.5s;
}

.foot {
  background-color:#485170;
  padding: 10px 20px;
  margin-top: 20px;
}

.foot span {
font-size: 12px;
color: #ddd;
padding: 0 50px;
}

@media screen and (max-width: 768px) {
    .head, .navbar, .content, .foot {
        flex-direction: column;
    }
}