a {
    text-decoration: none;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 8px 12px;
}

.head__logo a {
    font-size: 15px;
    font-weight: bold;
    color: #000080;
}

.head__logo i {
    color: skyblue;
    font-size: 30px;
}

.head__search {
    background-color: #a9a9a9;
    width: 500px;
    height: 50px;
}

.head__btn {
    display: flex;
    justify-content: space-between;
}

.btn1 {
    border: 3px solid red;
    padding: 10px;
    margin-right: 10px;
}

.btn2 {
    border: 3px solid gray;
    padding: 10px;
    margin-left: 10px;
}

.navbar {
    width: 1000px;
    height: 300px;
    display: inline-block;
}

.managerinfo {
    display: inline-block;
    position: absolute;
    background-color: gray;
    margin-left: 10px;
    width: 490px;
    height: 300px;
    margin-top: 20px;
    text-align: center;
    color: white;
}

table {
    width: 100%;
    height: 100%;
    border: 2px solid lightgray;
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}

th {
    background-color: lightgrey;
    padding: 20px;
}

td {
    border-bottom: 1px solid lightgrey;
    padding: 10px;
}

.login {
    float: right;
}

.content {
    height: 500px;
    margin-top: 30px;
}

.content1 {
    display: flex;
    justify-content: space-between;
}
.con1 {
    width: 1000px;
    height: 200px;
    border: 3px solid black;
}

.con1 h1 {
    font-size: 20px;
    border-bottom: 2px solid gray;
    padding: 10px;
}

.con2 {
    width: 500px;
    height: 510px;
    background-color: yellow;
    margin-left: 10px;

}

.con3{
    position: absolute;
    border: 3px solid black;
    width: 490px;
    height: 290px;
    top: 620px;
}

.con3 h1 {
    font-size: 20px;
    border-bottom: 2px solid gray;
    padding: 10px;
}

.con4{
    position: absolute;
    border: 3px solid black;
    width: 490px;
    height: 290px;
    top: 620px;
    left: 510px;
}

.con4 h1 {
    font-size: 20px;
    border-bottom: 2px solid gray;
    padding: 10px;
}

.foot {
    height: 100px;
    background-color:darkseagreen;
    padding: 8px 12px;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .head, .navbar, .content, .foot {
        flex-direction: column;
    }
}