* {
    margin: 0;
    padding: 0;
}

.loginbox {
    width: 1500px;
    height: 500px;
    margin: auto;
    position: absolute;
    top: 100px;
}

.loginbox h1 {
    width: 500px;
    height: 50px;
    font-size: 30px;
    color: #000000;
    border-bottom: 3px solid #7c7b7b;
    text-align: center;
    margin: auto;
}

#loginid{
    width: 500px;
    height: 50px;
    border: 2px solid #ccc;
    position: absolute;
    top: 100px;
    left: 500px;
    margin: auto;
}

#loginpw {
    width: 500px;
    height: 50px;
    border: 2px solid #ccc;
    position: absolute;
    top: 160px;
    left: 500px;
    margin: auto;
}

::placeholder {
    font-size: 15px;
}

.chk input#idchk {
    margin-left: 10px;
    position: absolute;
    top: 233px;
    left: 500px;
}

.chk label {
    font-size: 15px;
    color: #7c7b7b;
    position: absolute;
    top: 230px;
    left: 530px;

}

.chk a {
    text-decoration-line: none;
    font-size: 15px;
    color: #7c7b7b;
    position: absolute;
    top: 230px;
    left: 930px;
}

#loginbtn {
    width: 500px;
    height: 50px;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    margin: auto;
    position: absolute;
    top: 260px;
    left: 500px
}

.search {
    width: 500px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 350px;
    left: 500px; 
}
.search a{
    text-decoration-line: none;
    color: #7c7b7b;
}

.sns {
    text-align: center;
    margin-top: 330px;
}

.snslog {
    width: 500px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    text-align: center;
}




