body {
    margin: 0;
}

a {
    text-decoration: none;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 8px 12px;
}

.head__search {
    background-color: #a9a9a9;
    width: 500px;
    height: 50px;
}

.head__icons {
    text-decoration: none;
    list-style: none;
    display: flex;
} 

.head__icons li {
    padding: 8px 12px;
}

.head__icons li a {
    text-align: center;
    font-size: 10px;
    color: #485170;
}

.navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #485170;
    display: flex;
    justify-content: space-around;
}

.navbar__menu li {
    display: inline;
    color: white;
}

.navbar__menu a {
    display: inline-block;
}

.navbar__menu li a {
    color: white;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
}

.navbar__menu li a:hover {
    background-color: lightgray;
    border-radius: 4px;
} 

.navbar__menu li ul {
    display: none;
    height: auto;
    padding: 0px;
    margin: 0px;
    position: absolute;
    width: 200px;
    z-index: 200;    
}

.navbar__menu li ul a{
    display: block;
    height: 30px;
    font-size: 15px;
    font-style: normal;
    margin: 10px;
    padding: 10px;
    text-align: left;
    }

.navbar__menu li:hover ul {
    display: block;
}

.content {
    height: 700px;
    padding: 8px 12px;
}

.service h1 {
    font-size: 20px;
    color: gray;
    border-bottom: 3px solid #7c7b7b;
    padding: 20px;
    margin-bottom: 20px;
}

.service h2 {
    font-size: 20px;
    color: gray;
    margin-left: 50px;
    margin-top: 40px;
}

.ser1 {
    width: 1400px;
    height: 400px;
    border: 3px solid salmon;
    margin: auto;
}

.ser2 {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.ser2 p {
    color: red;
}

.btn1 {
    width: 300px;
    padding: 10px;
    margin-top: 40px;
    margin-right: 100px;
    border: 3px solid seagreen;
    text-align: center;
}

.btn2 {
    width: 100px;
    height: 20px;
    padding: 10px;
    margin-right: 20px;
    border: 3px solid springgreen;
    text-align: center;
}


.foot {
    height: 100px;
    background-color:#485170;
    padding: 8px 12px;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .head, .navbar, .content, .foot {
        flex-direction: column;
    }
}