* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'EliceDigitalBaeum-Bd';
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.head {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  align-items: center;
  background-color: #ffffff;
}

.head__logo {
  margin-left: 8%;
}

.search__box {
  width: 70%;
  margin-left: 15%;
}

.searchform {
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.searchform input#search {
  width: 70%;
  height: 50px;
  background: #f0eeee;
  border: none;
  font-size: 12pt;
  font-weight: 700;
  float: left;
  color: #485170;
  padding-left: 45px;
  border-radius: 48px;

  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}

.searchform input#search::-webkit-input-placeholder {
  color: #93a2ad;
}

.searchform input#search:-moz-placeholder { 
  color: #93a2ad;
}

.searchform input#search::-moz-placeholder {
  color: #93a2ad;
}

.searchform input#search:-ms-input-placeholder {
  color: #93a2ad;
 }

.searchform input#search:hover, .searchform input#search:focus, .searchform input#search:active {
  outline: none;
  background: #ffffff;
}

/* 크롬 자동완성 값 삭제 */
input:-webkit-autofill{-webkit-box-shadow: 0 0 0 30px #fff inset; -webkit-text-fill-color: #000;}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active{transition:background-color 5000s ease-in-out 0s;}

.searchform .icon {
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 14px;
  z-index: 1;
  color: #93a2ad;
}

.searchform:hover .icon {
  margin-top: 14px;
  color: #485170;
}

.head__icons {
  display: flex;
  text-decoration: none;
  list-style: none;
  margin-right: 13%;
} 

.head__icons li {
  padding: 15% 15% 6% 15%;
}

.head__icons li a {
  text-align: center;
  font-size: 14px;
  color: #485170;
}

.head__icons a:hover {
  color: #97cadb;
}


/******* Navbar Section *******/
#navbaronder {
  background-color: #97cadb;
  transition: 0.4s;
  position: absolute;
  width: 100%;
  top: 14%;
  z-index: 500;
  outline: 0;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

img::selection {
  background: transparent;
}

.underline a {
  position: relative;
  text-decoration: white;
}

.underline a:hover {
  color: white;
}

.underline button:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.underline button:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.topnav {
  background-color: #dddddd;
}

#center1 {
  float: left;
  position: relative;
  left: 50%;
}

#center2 {
  float: left;
  position: relative;
  left: -50%;
}

.topnav a {
  float: left;
  display: block;
  padding: 8px 130px;
  color: #333;
  font-size: 20px;
  letter-spacing: 0.1em;
  text-align: center;
  text-decoration: none;
  font-family: 'EliceDigitalBaeum-Bd';
}

.topnav .icon {
  display: none;
  color: #26548A;
}

.dropdown {
  float: left;
  position: relative;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  padding: 6px 20px;
  background-color: inherit;

}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f9f9f9;
  min-width: 60%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #333;
  padding: 8px;
  font-size: 18px;
  text-align: center;
  background-color: #f1f1f1;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
  background-color: transparent;
  color: #2651AB;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover 
.dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), 
  .dropdown
  .dropbtn
  {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .topnav .responsive {position: relative;}
  .topnav .responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav .responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav .responsive .dropdown {float: none;}
  .topnav .responsive .dropdown-content {position: relative;}
  .topnav .responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}


/******* Content Section *******/
.content {
  position: relative;
  font-family: 'LeferiPoint-BlackA';
}

.content h1 {
  margin-top: 5%;
  margin-bottom: 3%;
  padding: 20px;
  font-size: 35px;
  color: gray;
  text-align: center;
  letter-spacing: 0.1rem;
}

.gallery {
  position: relative;
  width: 70%;
  height: 100%;
  left: 7%;
  margin: 8%;
}

.testimonials {
  width: 100%;
  /* padding-top: 105px; */
  padding-top: 55px;
  padding-bottom: 105px;
  background-color: #fff;
}

.container {
  width: 100%;
}

.section_title {
  font-size: 30px;
  font-weight: 700;
  color: rgba(49, 18, 75, 0.8);
  margin-top: -8px;
  text-transform: uppercase;
  text-align: center;
}

.section_title h2 {
  text-shadow: rgba(0, 0, 0 / 1%) 0 0 1px;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 0.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  width: 100%;
}

.test_slider_container {
  width: 100%;
  margin-top: 54px;
}

.owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* width: 75%; */
  width: 100%;
  height: 100%;
  /* margin-left: 12.5%; */
}

.owl-item {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
  padding-top: 36px;
}

.test_icon {
  position: absolute;
  top: 0;
  left: 41px;
  width: 72px;
  height: 72px;
  background: #fa9e1b;
  border-radius: 50%;
}

.test_icon img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto !important;
}

.test_content_container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  /* height: 44%; */
  height: 34%;
  background: rgba(49, 18, 75, 0.8);
}

.test_content {
  width: 100%;
  height: 100%;
  padding-top: 44px;
  padding-left: 38px;
  padding-right: 40px;
}

.test_item_info {
  position: absolute;
  left: 41px;
  bottom: calc(100% - 18px);
  background: #fff;
  padding-left: 20px;
  padding-right: 21px;
  padding-top: 12px;
  padding-bottom: 10px;
  z-index: 10;
}

.test_name {
  font-size: 14px;
  font-weight: 700;
  color: #2d2c2c;
}

.test_date {
  font-size: 11px;
  margin-top: 2px;
  padding-left: 2px;
  color: #2d2c2c;
}

.test_quote_title {
  font-size: 20px;
  font-weight: 500;
  padding-left: 3px;
  color: #fff;
}

.test_quote_text {
  margin-top: 11px;
  font-weight: 500;
  color: #fff;
  line-height: 30px;
}

.owl-dots {
  display: none;
}

.owl-prev{
  position: absolute;
  top: 50%;
  /* left: 8%; */
  left: 0;
  cursor: pointer;
  margin: 5%;
}

.owl-next {
  position: absolute;
  top: 50%;
  /* right: 9%; */
  right: 0;
  cursor: pointer;
}









/* .title__wrap {
  position: relative;
  height: 100px;
  margin-left: 100px;
  padding-bottom: 10px;
  min-height: 48px; */
  /* text-align: left; */
/* }

.title {
  color: #333;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2;
}

.title__desc {
  margin-top: 14px;
  font-size: 20px;
  color: #363636;
}

.contents__wrap {
  margin-top: 20px;
}

.travle__wrap {
  position: relative;
  width: 100%;
}

.review__list {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
}

.review__slider {
  position: relative;
  padding-bottom: 5px;
}

.photo__review {
  display: block;
  z-index: 1;
}

.review__list ul {
  position: relative;
  width: 100%; */
  /* margin: 20px auto 50px; */
  /* margin-top: 20px; */
  /* margin-left: 160px; */
  /* margin-bottom: 50px;
  padding: 0;
  list-style: none;
}

.outer {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.stage {
  position: relative;
  transform: translate3d(0px, 0px, 0px);
  transition: all 0s ease 0s; */
  /* width: 916px; */
  /* touch-action: manipulation;
}

.item__active1 {
  justify-content: space-around;
  width: 27px; */
  /* margin-left: 275px; */
  /* margin-left: 150px;
  min-height: 1px;
  float: left;
}

.item__active1 li {
  width: 500px;
  margin-left: 0;
}

.review__list1 ul li {
  position: relative; */
  /* width: 270px; */
  /* width: 500px;
  float: left;
  margin: 0;
  padding: 0;
}

.item__active2 {
  justify-content: space-around;
  width: 27px; */
  /* margin-left: 275px; */
  /* margin-left: 230px;
  min-height: 1px;
  float: left;
}

.item__active2 li {
  width: 500px;
  margin-left: 100px;
}

.review__list2 ul li {
  position: relative; */
  /* width: 270px; */
  /* width: 500px;
  float: left;
  margin: 0;
  padding: 0;
}

.item__active3 {
  justify-content: space-around;
  width: 27px; */
  /* margin-left: 275px; */
  /* margin-left: 280px;
  min-height: 1px;
  float: left;
}

.item__active3 li {
  width: 500px;
  margin-left: 150px;
}

.review__list3 ul li {
  position: relative; */
  /* width: 270px; */
  /* width: 500px;
  float: left;
  margin: 0;
  padding: 0;
}

.item__active4 {
  justify-content: space-around;
  width: 27px; */
  /* margin-left: 275px; */
  /* margin-left: 340px;
  min-height: 1px;
  float: left;
}

.item__active4 li {
  width: 500px;
  margin-left: 150px;
}

.review__list4 ul li {
  position: relative; */
  /* width: 270px; */
  /* width: 500px;
  float: left;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.thumb {
  display: block;
  width: 300px;
  height: 180px;
}

img {
  border: 0;
  vertical-align: middle;
}

.title__txt2 {
  font-size: 17px;
  line-height: 1.4;
  font-weight: bold;
  color: #333;
  margin: 20px auto 10px;
  max-height: 46px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
  word-break: break-all;
  white-space: normal;
}

.desc__txt2 {
  font-size: 15px;
  line-height: 1.4;
  color: #333;
  margin: 0 0 25px 0;
  max-height: 45px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
  word-break: break-all;
  white-space: normal;
}

.nav__disabled {
  margin-top: 20px;
  text-align: 10px;
}

.prev__disabled {
  opacity: .5;
  cursor: default;
}

.photo__review .nav__disabled .prev__disabled {
  display: inline-block;
  margin: 5px;
  margin-left: 545px;
  padding: 4px 7px;
  color: #000;
  font-size: 14px;
  background: #d6d6d6;
  border-radius: 3px;
}

button>span {
  position: relative;
}

.dots__disbled {
  margin-top: 10px;
  text-align: center;
}

.dot__active {
  display: inline-block;
  zoom: 1;
}

.boardTop__wrap {
  display: block;
  margin-bottom: 10px;
  clear: both;
}

.boardTop__left {
  float: left;
  width: 400px;
}

.form__wrap {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.hide {
  display: none;
  height: 0;
  font-size: 0 !important;
  visibility: hidden;
  line-height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  width: 0 !important;
}

.form__control {
  display: inline-block;
  height: 38px;
  width: 130px;
  margin: 0;
  padding: 0 31px 0 8px;
  border-radius: 5px;
  font-size: 17px;
  color: #333;
  line-height: 1.5;
  box-sizing: border-box;
  border: 1px solid #ddd;
  background: #fff calc(100% - 10px) center no-repeat;
}

.boardTop__right { */
  /* float: left; */
  /* float: right;
  width: 370px;
}

.board__search {
  position: relative;
  display: inline-block;
  width: 230px; */
  /* height: 38; */
  /* padding: 0;
  text-align: left;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  vertical-align: middle;
  background-color: #fff;
}

.search__bar {
  width: 185px;
  height: 36px;
  padding: 0 10px;
  border: none;
  font-size: 16px;
  font-weight: 700;
}

input {
  color: #595959;
  vertical-align: middle;
}

.search__btn {
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  width: 46x;
  height: 36px;
  font-size: 0;
  text-align: center;
  line-height: 36px;
  background-image: url("img/ico_search_total.png");
  background-position: 0px;
  height: 30px;
  padding-left: 25px;
}

.tbl {
  /* position: relative; */
  /* width: 100;
}

table {
  position: relative;
  width: 100%;
  border-top: 2px solid #1351a5;
  border-bottom: 1px solid #f0f0f0;
  border-spacing: 0;
  border-collapse: collapse;
  text-indent: initial;
}

.tbl caption {
  display: none;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

thead tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  padding: 14px 8px;
  font-size: 18px;
  border-bottom: 1px solid #363636;
  background-color: #fff;
}

thead th {
  padding: 14px 8px;
  font-size: 18px;
  border-bottom: 1px solid #363636;
  background-color: #fff;
} */


/* tbody {  입력하지 않아도 자동 입력되어있는 값?  */
  /* display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tbody tr {
  padding: 14px 8px;
  border: none;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

tbody .state {
  display: block;
  width: 68px;
  height: 28px;
  margin: 0 auto;
  line-height: 28px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  color: #008aff;
  border: 1px solid #008aff;
}

tbody td {
  padding: 14px 8px;
  border: none;
  text-align: center;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  vertical-align: middle;
}

.pagination__wrap {
  position: relative;
}

#board__commonlist {
  position: relative;
  margin: 30px auto 0;
  padding-top: 5px;
  text-align: center;
  min-height: 40px;
}

.pageNumber__active {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  margin-right: 16px;
  border-bottom: 1px solid #1351a5;
  color: #1351a5;
  line-height: 24px;
  text-align: center;
  font-size: 18px;
}

.pageNumber__active a {
  text-decoration:  none;
  cursor: pointer;
}

.page__next {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  font-size: 0;
  background-position: -120px 0;
  background: url() left top no-repeat;
}

.pagination__wrap .btn__middle__reg__btn {
  position: relative;
  left: 90%;
  bottom: 0;
  display: inline-block;
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: #1351a5;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
}

.notice__wrap {
  position: relative;
  clear: both;
  width: 100%;
  margin: 50px auto 0;
  padding: 30px 28px 30px 24px;
  border: 1px saddlebrown #e0e0e0;
  color:  #333 !important;
}

.title__notice {
  clear: both;
  height: 20px;
  line-height: 20px;
  padding: 0 0 0 30px;
  text-align: left;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  background:  url() left center no-repeat;
  color: #333 !important;
}

.notice__wrap ul {
  position: relative;
  width: 100%;
  padding-top: 20px;
  margin-top: 18px;
  border-top: 1px solid #e0e0e0;
  list-style: none;
}

.notice__wrap ul li {
  position: relative;
  padding: 0 0 0 40px;
  margin: 0 0 6px 0;
  line-height: 1.45;
  text-align: left;
  font-size: 15px;
  font-weight: 400;
  color: #404656;
} 

.photo1 {
  display: flex;
  justify-content: space-between;
}

.photo2 {
  display: flex;
  justify-content: space-between;
}

.button1 {
  display: flex;
  justify-content: space-between;
}

.button2 {
  display: flex;
  justify-content: space-between;
}

.pho1 {
    width: 500px;
    height: 250px;
    border: 3px solid coral;
    margin: 30px 0px 0px 30px;
}

.pho2 {
  width: 500px;
  height: 250px;
  border: 3px solid coral;
  margin: 30px 0px 0px 30px;
}

.pho3 {
  width: 500px;
  height: 250px;
  border: 3px solid coral;
  margin: 30px 0px 0px 30px;
}

.pho4 {
  width: 500px;
  height: 250px;
  border: 3px solid coral;
  margin: 60px 0px 0px 30px;
}

.pho5 {
  width: 500px;
  height: 250px;
  border: 3px solid coral;
  margin: 60px 0px 0px 30px;
}

.pho6 {
  width: 500px;
  height: 250px;
  border: 3px solid coral;
  margin: 60px 0px 0px 30px;
}

.btn1 {
  width: 500px;
  height: 40px;
  border: 3px solid purple;
  margin: 30px 0px 0px 30px;
}

.btn2 {
  width: 500px;
  height: 40px;
  border: 3px solid purple;
  margin: 30px 0px 0px 30px;
}

.btn3 {
  width: 500px;
  height: 40px;
  border: 3px solid purple;
  margin: 30px 0px 0px 30px;
}

.btn4 {
  width: 500px;
  height: 40px;
  border: 3px solid purple;
  margin: 30px 0px 0px 30px;
}

.btn5 {
  width: 500px;
  height: 40px;
  border: 3px solid purple;
  margin: 30px 0px 0px 30px;
}

.btn6 {
  width: 500px;
  height: 40px;
  border: 3px solid purple;
  margin: 30px 0px 0px 30px;
}

.btn__draw{
  float: right;
  width: 100px;
  padding: 10px;
  border: 3px solid skyblue;
  text-align: center;
  margin-top: 40px;
} */


/******* Foot Section *******/
.foot {
  background-color:#485170;
  margin-top: -5px;
  padding: 20px;
}

.foot span {
  font-size: 12px;
  letter-spacing: 0.1em;
  color: #ddd;
  padding: 0 50px;
}

@media screen and (max-width: 768px) {
  .head, .navbar, .content, .foot {
    flex-direction: column;
  }
}

@font-face {
  font-family: 'EliceDigitalBaeum-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum-Bd.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LeferiPoint-BlackA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}