body {
  margin: 0;
}

a {
  text-decoration: none;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 8px 12px;
}

.head__search {
  background-color: #a9a9a9;
  width: 500px;
  height: 50px;
}

.head__icons {
  text-decoration: none;
  list-style: none;
  display: flex;
} 

.head__icons li {
  padding: 8px 12px;
}

.head__icons li a {
  text-align: center;
  font-size: 10px;
  color: #485170;
}

.navbar ul{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #485170;
  display: flex;
  justify-content: space-around;
}

.navbar__menu li {
  display: inline;
  color: white;
}

.navbar__menu a {
  display: inline-block;
}

.navbar__menu li a {
  color: white;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
}

.navbar__menu li a:hover {
  background-color: lightgray;
  border-radius: 4px;
} 

.navbar__menu li ul {
  display: none;
  height: auto;
  padding: 0px;
  margin: 0px;
  position: absolute;
  width: 200px;
  z-index: 200;    
}

.navbar__menu li ul a{
  display: block;
  height: 30px;
  font-size: 15px;
  font-style: normal;
  margin: 10px;
  padding: 10px;
  text-align: left;
  }

.navbar__menu li:hover ul {
  display: block;
}

.content {
  height: 1000px;
  background-color: #ffffff;
  padding: 8px 12px;
}

.content h1 {
  font-size: 20px;
  color: gray;
  border-bottom: 3px solid #7c7b7b;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.photo1 {
  display: flex;
  justify-content: space-between;
}

.photo2 {
  display: flex;
  justify-content: space-between;
}

.button1 {
  display: flex;
  justify-content: space-between;
}

.button2 {
  display: flex;
  justify-content: space-between;
}

.pho1 {
    width: 500px;
    height: 250px;
    border: 3px solid coral;
    margin: 30px 0px 0px 30px;
}

.pho2 {
  width: 500px;
  height: 250px;
  border: 3px solid coral;
  margin: 30px 0px 0px 30px;
}

.pho3 {
  width: 500px;
  height: 250px;
  border: 3px solid coral;
  margin: 30px 0px 0px 30px;
}

.pho4 {
  width: 500px;
  height: 250px;
  border: 3px solid coral;
  margin: 60px 0px 0px 30px;
}

.pho5 {
  width: 500px;
  height: 250px;
  border: 3px solid coral;
  margin: 60px 0px 0px 30px;
}

.pho6 {
  width: 500px;
  height: 250px;
  border: 3px solid coral;
  margin: 60px 0px 0px 30px;
}

.btn1 {
  width: 500px;
  height: 40px;
  border: 3px solid purple;
  margin: 30px 0px 0px 30px;
}

.btn2 {
  width: 500px;
  height: 40px;
  border: 3px solid purple;
  margin: 30px 0px 0px 30px;
}

.btn3 {
  width: 500px;
  height: 40px;
  border: 3px solid purple;
  margin: 30px 0px 0px 30px;
}

.btn4 {
  width: 500px;
  height: 40px;
  border: 3px solid purple;
  margin: 30px 0px 0px 30px;
}

.btn5 {
  width: 500px;
  height: 40px;
  border: 3px solid purple;
  margin: 30px 0px 0px 30px;
}

.btn6 {
  width: 500px;
  height: 40px;
  border: 3px solid purple;
  margin: 30px 0px 0px 30px;
}

.btn__draw{
  float: right;
  width: 100px;
  padding: 10px;
  border: 3px solid skyblue;
  text-align: center;
  margin-top: 40px;
}

.foot {
  height: 100px;
  background-color:#485170;
  padding: 8px 12px;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .head, .navbar, .content, .foot {
    flex-direction: column;
  }
}